Repository IvS-KULeuven/cgse, pull requests merged in 2025-01, with the labels that each got.

#11 Use generic environment variables
  libs/cgse-common/src/egse/config.py
  libs/cgse-common/src/egse/env.py
  libs/cgse-common/src/egse/settings.py
Labels: generic, cgse-core

#21 Temperature sensor calibration
  libs/cgse-common/src/egse/calibration.py
Labels: calibration

#34 🚧 — refactoring core services to work with changes in cgse-common
  conftest.py
  libs/cgse-common/pyproject.toml
  libs/cgse-common/src/egse/control.py
  libs/cgse-common/src/egse/env.py
  libs/cgse-common/src/egse/protocol.py
  libs/cgse-common/src/egse/response.py
  libs/cgse-common/src/egse/services.py
  libs/cgse-common/src/egse/settings.py
  libs/cgse-common/src/egse/setup.py
  libs/cgse-common/src/egse/system.py
  libs/cgse-common/tests/conftest.py
  libs/cgse-common/tests/data/data/command.yaml
  libs/cgse-common/tests/fixtures/default_env.py
  libs/cgse-common/tests/fixtures/helpers.py
  libs/cgse-common/tests/test_env.py
  libs/cgse-common/tests/test_hk.py
  libs/cgse-common/tests/test_resource.py
  libs/cgse-common/tests/test_settings.py
  libs/cgse-common/tests/test_setup.py
  libs/cgse-common/tests/test_system.py
  libs/cgse-core/pyproject.toml
  libs/cgse-core/src/egse/confman/__init__.py
  libs/cgse-core/src/egse/confman/confman_cs.py
  libs/cgse-core/src/egse/logger/log_cs.py
  libs/cgse-core/src/egse/procman/__init__.py
  libs/cgse-core/src/egse/settings.yaml
  libs/cgse-core/src/egse/storage/__init__.py
  libs/cgse-core/src/egse/storage/storage_cs.py
  libs/cgse-core/tests/conftest.py
  libs/cgse-core/tests/data/local_settings.yaml
  libs/cgse-core/tests/fixtures/default_env.py
  libs/cgse-core/tests/fixtures/helpers.py
  libs/cgse-core/tests/fixtures/services.py
  libs/cgse-core/tests/test_confman_setups.py
  libs/cgse-core/tests/test_settings_core.py
  pyproject.toml
Labels: cgse-core, cgse-common

#38 Migrating Keithley DAQ6510 (temperature control) from plato-common-egse
  libs/cgse-common/src/egse/control.py
  libs/cgse-common/src/egse/device.py
  libs/cgse-common/src/egse/mixin.py
  libs/cgse-common/src/egse/protocol.py
  libs/cgse-common/src/egse/services.py
  libs/cgse-core/src/egse/procman/__init__.py
  projects/generic/keithley-tempcontrol/README.md
  projects/generic/keithley-tempcontrol/pyproject.toml
  projects/generic/keithley-tempcontrol/src/egse/tempcontrol/keithley/__init__.py
  projects/generic/keithley-tempcontrol/src/egse/tempcontrol/keithley/daq6510.py
  projects/generic/keithley-tempcontrol/src/egse/tempcontrol/keithley/daq6510.yaml
  projects/generic/keithley-tempcontrol/src/egse/tempcontrol/keithley/daq6510_cs.py
  projects/generic/keithley-tempcontrol/src/egse/tempcontrol/keithley/daq6510_devif.py
  projects/generic/keithley-tempcontrol/src/egse/tempcontrol/keithley/daq6510_protocol.py
  projects/generic/keithley-tempcontrol/src/keithley_tempcontrol/__init__.py
  projects/generic/keithley-tempcontrol/src/keithley_tempcontrol/settings.yaml
Labels: temperature control
